body
{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXc6wJVMXQ6mDeX5ybmkykG54Bqinl26sjaQ&usqp=CAU");
    width: 700px;
    /* background-color: rgb(0, 183, 255); */
}
a{
    font-size: xx-large;
    color: indigo;
    background-color: rgb(252, 92, 0);
    border-radius: 110px;
    padding: 0 30px;
}
table, td, th {  
    width: 50%;
    border: 1px solid #ddd;
    text-align: left;
    /* background-color: rgb(11, 214, 21); */
  }
  table, td, th { 
    border-radius: 0 40px;
  }
  table tr:nth-child(1) {
    background-color: #ee5f8a; 
}
table td:nth-child(1) {
  background-color: #0daf1a; 
}
table tr:nth-child(7) {
  background-color: yellow; 
}

table td:nth-child(16) {
  background-color: #b30a3c; 
}

  table {
       width: 70%;
    border-collapse: collapse;
    background-color:rgb(139, 23, 139)
  }
 
  th, td {
    border: 1px solid black;
    padding: 9px;
  }
  img{
      width: 50%;
      display: block;
     margin-right: 50%;
     margin-left: 50%;
    
  }
  form{
    width: 100%;
  }
  legend
  {
    background-color: rgb(55, 245, 17);
    padding: 10px;
    border-radius: 0 60px;
  }

  fieldset
  {
    font-style: italic;
    font-size: larger;
    width: 100%;
   background-color: rgb(248, 245, 53);
  }
  input
  {
    display: block;
    font-style: oblique;
  }

  footer
  {
    padding: 30%;
  }